<div class="panel panel-default">
  <div class="panel-heading">
    <h1 style="text-align: center">Students</h1><br>
    <div class="row" [hidden]="!deleteMessage">

      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <div class="alert alert-info alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Student Data Deleted</strong>
        </div>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>


  <div class="panel-body">
    <table class="table table-hover table-sm" datatable [dtOptions]="dtOptions"
           [dtTrigger]="dtTrigger">
      <thead class="thead-light">
      <tr>
        <th>Student Name</th>
        <th>Student Email</th>
        <th>Student Branch</th>
        <th>Action</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of students ">
        <td>{{student.studentName}}</td>
        <td>{{student.studentEmail}}</td>
        <td>{{student.studentBranch}}</td>
        <td>
          <button (click)="deleteStudent(student.studentId)" class='btn btn-danger'><i
            class="fa fa-futboll-0">Delete</i></button>&nbsp;
          <button (click)="updateStudent(student.studentId)" class='btn btn-info' data-toggle="modal"
                  data-target="#myModal">Update
          </button>
        </td>
      </tr>
      </tbody>
      <br>
    </table>
  </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="studentupdateform" #updstu (ngSubmit)="updateStu(updstu)">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="text-align: center">Update Student</h4>
        </div>

        <div class="modal-body" *ngFor="let student of studentlist ">
          <div [hidden]="isupdated">

            <input type="hidden" class="form-control" formControlName="studentId" [(ngModel)]="student.studentId">
            <div class="form-group">
              <label for="name">Student Name</label>
              <input type="text" class="form-control" formControlName="studentName" [(ngModel)]="student.studentName">
            </div>

            <div class="form-group">
              <label for="name">Student Email</label>
              <input type="text" class="form-control" formControlName="studentEmail" [(ngModel)]="student.studentEmail">
            </div>

            <div class="form-group">
              <label for="name">Student Branch</label>
              <select class="form-control" formControlName="studentBranch" required>
                <option value="Bachelor of Science" [selected]="'Bachelor of Science' == student.studentBranch">Bachelor of Science</option>
                <option value="Master of Science" [selected]="'Master of Science' == student.studentBranch">Master of Science</option>
                <option value="Bachelor of Commerce" [selected]="'Bachelor of Commerce' == student.studentBranch">Bachelor of Commerce</option>
                <option value="Bachelor of Physics" [selected]="'Bachelor of Physics' == student.studentBranch">Bachelor of Physics</option>
              </select>
            </div>
          </div>

          <div [hidden]="!isupdated">
            <h4>Student Detail Updated!</h4>
          </div>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" [hidden]="isupdated">Update</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisUpdate()">Close</button>
        </div>

      </form>
    </div>
  </div>
</div>
